/*设置字体*/
@font-face {
    font-family: 'KulminoituvaRegular';
    src: local('Kulminoituva Regular'), local('Kulminoituva'), /*要想引用本地字体，前提*/
    url('../../fonts/kulminoituva.woff') format('woff');/*现代的浏览器支持*/
}


nav{
    font-family: KulminoituvaRegular,"Arial Black", Gadget, sans-serif;
    text-align: center;
    font-size: 4em;
}

#content{
    height: 65%;
}

.panel{
    -webkit-box-shadow: 3px 3px 10px #626262;
}

aside{
    width: 18%;
    margin-left: 13%;
    float: left;
    opacity: 0.8;
}

.hot-topic-item  li a{
    color: #000000;
}

#chatBox{
    width: 50%;
    height: 100%;
    margin-left: 2%;
    opacity: 0.9;
    display: inline-block;
    float: left;
}

#chat_content{
    height: 60%;
    overflow-y:auto;
}

#chat_function{
    height: 8%;
    background-color: #dff0d8;
}

#chat_input_div{
    height: 20% ;
}

#chat_input{
    height: 90% ;
    width: 100%;
}

.myMsg .emoji-button{
    display: none;
}

.receiveMsg .emoji-button{
    display: none;
}

textarea {
    resize : none;
    border:none;
}
textarea:focus{
   outline: none;
}

#function_btn{
    border-radius: 100px;
    -webkit-box-shadow:inset 1px 1px 10px #bababa;
    width: 35px;
    height: 35px;
    background-color: #fff;
    float: left;
    margin-left: 3%;
    margin-top: 2px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}

#emotion{
    font-size: 1.3em;
    color: #ffa600;
}

.emoji-menu ul{
    padding: 0;
    margin: 0;
}

.emoji-menu .group-selector a {
   width: 37px;
    height: 35px;
}

#send_joke{
    border-radius: 100px;
    -webkit-box-shadow:inset 1px 1px 10px #bababa;
    width: 35px;
    height: 35px;
    background-color: #fff;
    float: right;
    margin-right: 4%;
    margin-top: 2px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}

#joke{
    font-size: 1.3em;
    color: #ffa600;
}


#send_btn{
    border-radius: 100px;
    -webkit-box-shadow:inset 1px 1px 10px #bababa;
    width: 35px;
    height: 35px;
    background-color: #fff;
    float: right;
    margin-right: 3%;
    margin-top: 2px;
    text-align: center;
    padding-top: 6px;
    padding-right: 3px;
    cursor: pointer;
}
#send{
    color: #ffa600;
    font-size: 1.3em;
}

.myMsg{
    padding: 5px;
    max-width: 250px;
    background-color: #65bfef;
    border-radius: 5px;
    font-size: 1.2em;
    float: right;
    word-wrap: break-word;
    -webkit-box-shadow: 2px 2px 10px #8e8e8e;
    clear: both;
}

.myName{
    float: right;
    clear: both;
    font-size: 1px;
}

.yourName{
    float: left;
    clear: both;
    font-size: 1px;
}


.receiveMsg{
    max-width: 250px;
    padding: 5px;
    background-color: #fff0bd;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 1%;
    word-wrap: break-word;
    -webkit-box-shadow: 2px 2px 10px #8e8e8e;
    float: left;
    clear: both;
}

#footer{
    clear: both;
}
